#menu-1w .mbr-brand__name {
  font-size: 16px;
}
#menu-1w.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1w .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-1x H1 {
  color: #ffffff;
}
#content5-2j .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-2j .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2j .mbr-article {
  color: #fff;
}
#content5-2j .mbr-article P {
  color: #7c706b;
}
#content5-2k .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-2k .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2k .mbr-article {
  color: #fff;
}
#content5-2k .mbr-article P {
  color: #7c706b;
}
#msg-box1-23 .mbr-header .mbr-header__text {
  color: #000000;
}
#msg-box1-23 .mbr-article {
  color: #000000;
}
#content5-2o .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-2o .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2o .mbr-article {
  color: #fff;
}
#content5-2o .mbr-article P {
  color: #7c706b;
}
#content5-2r .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-2r .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2r .mbr-article {
  color: #fff;
}
#content5-2r .mbr-article P {
  color: #7c706b;
}
#footer1-27 P {
  text-align: center;
}
